<h1>CLOSEST FUEL STATION</h1>

<h3>NAME: <%= @location.name %></h3>
<h3>FUEL TYPE: <%= @location.fuel_type %></h3>
<h3>ACCESS TIMES: <%= @location.access_times %></h3>
<h3>ADDRESS: <%= @location.address %></h3>


<h1>DIRECTIONS DETAILS</h1>

<h3>DISTANCE: <%= @directions_location.distance %></h3>
<h3>TRAVEL TIME: <%= @directions_location.travel_time %></h3>
<h3>DIRECTIONS: <%= @directions_location.directions %></h3>
